node_modules/
dist/
.umi/
.umi-production/
.temp/
coverage/

*.log
npm-debug.log*
yarn-error.log*
.eslintcache

.DS_Store
.idea/
.vscode/
.history/

src/utils/request-temp.js
_roadhog-api-doc/
screenshot/
.firebase/
build/
*bak
