*.log
.DS_Store
.idea/
.vscode/

backend/target/
backend/upload/
backend/*.iml

frontend/node_modules/
frontend/dist/
frontend/.umi/
frontend/.umi-production/
frontend/.temp/
frontend/coverage/
frontend/.eslintcache
frontend/npm-debug.log*
frontend/yarn-error.log*
