HELP.md
target/
upload/
*.log
*.iml

.idea/
.vscode/
.settings/
.classpath
.project
.factorypath
.apt_generated/
.springBeans
.sts4-cache

build/
dist/
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/
